.main  {
    border: 0;
}

.card {
    border-radius: 20px;
    border: 1px solid rgb(149, 149, 84);
    overflow: hidden;
    padding: 24px;
    margin-bottom: 24px;
    background-color: aquamarine;
}
.employee-detail-page {
    padding: 16px 28px;
}

.employee-detail-page .info {
    width: 67%;
    justify-content: space-around;
    padding: 0 24px;    
}

.employee-detail-page .info .field {
    margin: 0 24px;
}

.employee-detail-page .photo{
    width: 33%;
    align-items: center;
}

.employee-detail-page .field > div {
    font-size: 24px;
}

.employee-detail-page .button {
    height: 40px;
    width: 85px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;

    text-transform: uppercase;
    color: white;
    font-weight: 900;
}

.employee-detail-page .button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.employee-detail-page .button:active {
    transform: translateY(2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }


.employee-detail-page .buttons .edit {
    margin-left: auto;
    background-color: rgb(156, 156, 156);
}

.employee-detail-page .buttons .delete {
    margin-left: 12px;
    background-color: rgb(188, 60, 60);
}